.nav {
	height: 90px;
	font-weight: 600;
	&__links {
		font-size: 16px;
		font-weight: 600;
		@include breakpoint-down(large) {
			// font-size: 14px;
			font-weight: 400;
		}
		a:not(:last-child) {
			margin-right: 40px;
			@include breakpoint-down(large) {
				margin-right: 20px;
			}
		}
	}
	&__logo {
		font-size: 34px;
		font-weight: 800;
		@include breakpoint-down(large) {
			font-size: 26px;
		}
	}
	&__left {
	}
}
